body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    color: white; /* Texte en blanc */
}

.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Fond noir */
    position: relative; /* Position relative pour superposer le texte */
}

.menu {
    position: absolute;
    width: 80%; /* Ajout de la largeur */
    max-width: 200px; /* Limite la largeur maximale du menu */
    margin: 0 auto; /* Centre le menu horizontalement */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333; /* Fond du menu blanc avec opacité */
    border-radius: 20px; /* Bords arrondis */
    padding: 20px; /* Espacement intérieur */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu button {
    margin: 10px 0; /* Espacement entre les boutons */
    padding: 10px 20px; /* Rembourrage des boutons */
    font-size: 1em; /* Taille de la police */
    border: none;
    background-color: #666; /* Couleur de fond des boutons */
    color: white; /* Couleur du texte des boutons */
    border-radius: 5px; /* Bords arrondis des boutons */
    cursor: pointer;
    transition: background-color 0.3s; /* Transition au survol */
    width: 80%; /* Les boutons ont une largeur de 100% */
}


.menu button:hover {
    background-color: #555; /* Couleur de fond des boutons au survol */
}

.gif-section {
    position: relative;
    overflow: hidden;
}

.gif-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    z-index: 1;
}

h1 {
    font-size: 3em;
    text-align: center;
    opacity: 0.9; /* Opacité pour le fondu */
}

/* Ajout de l'effet de fondu */
.section::before,
.section::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 12%; /* Hauteur de la zone de fondu, ajustez selon vos préférences */
    pointer-events: none; /* Empêche le clic sur la zone de fondu */
    z-index: 1;
}

.section::before {
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)); /* Dégradé noir vers transparent pour le bord supérieur */
}

.section::after {
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)); /* Dégradé transparent vers noir pour le bord inférieur */
}


.menu-radial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cercle-central {
    width: 250px;
    height: 250px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le cercle central */
    border: 4px solid goldenrod; /* Ajout de la bordure dorée */
    background-size: 250%; /* Ajuste la taille de l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image à l'intérieur du cercle */
}

#cercle-central {
    background-image: url('trone-fer-marc-uai-600x337.jpg'); /* Chemin vers votre image */
}

.cercles {
    position: relative;
}

.cercle {
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    transform-origin: center; /* Définir l'origine de la transformation au centre du cercle */
    border: 4px solid silver; /* Ajout de la bordure argentée */
    background-size: 170%; /* Ajuste la taille de l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image à l'intérieur du cercle */
}



#cercle1 {
    background-image: url('Blason-arryn-2014-v01-256px.png'); /* Chemin vers votre image */
}

#cercle2 {
    background-image: url('Blason-baratheon-2014-v01-256px.png'); /* Chemin vers votre image */
}

#cercle3 {
    background-image: url('Blason-greyjoy-2014-v01-256px.png'); /* Chemin vers votre image */
}

#cercle4 {
    background-image: url('Blason-lannister-2014-v01-256px.png'); /* Chemin vers votre image */
}

#cercle5 {
    background-image: url('Blason-martell-2014-v01-256px.png'); /* Chemin vers votre image */
}

#cercle6 {
    background-image: url('Blason-stark-2014-v01-256px.png'); /* Chemin vers votre image */
}

#cercle7 {
    background-image: url('Blason-targaryen-2014-v01-256px.png'); /* Chemin vers votre image */
}

#cercle8 {
    background-image: url('Blason-tully-2014-v01-256px.png'); /* Chemin vers votre image */
}

#cercle9 {
    background-image: url('Blason-tyrell-2014-v01-256px.png'); /* Chemin vers votre image */
}

.cercle:nth-child(1) { transform: rotate(40deg) translate(230px) rotate(-40deg) translate(-50%, -50%); }
.cercle:nth-child(2) { transform: rotate(80deg) translate(230px) rotate(-80deg) translate(-50%, -50%); }
.cercle:nth-child(3) { transform: rotate(120deg) translate(230px) rotate(-120deg) translate(-50%, -50%); }
.cercle:nth-child(4) { transform: rotate(160deg) translate(230px) rotate(-160deg) translate(-50%, -50%); }
.cercle:nth-child(5) { transform: rotate(200deg) translate(230px) rotate(-200deg) translate(-50%, -50%); }
.cercle:nth-child(6) { transform: rotate(240deg) translate(230px) rotate(-240deg) translate(-50%, -50%); }
.cercle:nth-child(7) { transform: rotate(280deg) translate(230px) rotate(-280deg) translate(-50%, -50%); }
.cercle:nth-child(8) { transform: rotate(320deg) translate(230px) rotate(-320deg) translate(-50%, -50%); }
.cercle:nth-child(9) { transform: rotate(360deg) translate(230px) rotate(-360deg) translate(-50%, -50%); }

.blocs {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 80%; /* Largeur des blocs */
}

.bloc {
    position: relative;
    width: 450px;
    height: 450px;
    background-color: #333;
    margin-right: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Ajout du curseur pointer pour indiquer que le bloc est cliquable */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; /* Centre l'image à l'intérieur du cercle */
}


#bloc1 {
    background-size: 170%; /* Ajuste la taille de l'image */
    background-image: url('Jon_Snow.webp'); /* Chemin vers votre image */
}

#bloc2 {
    background-size: 170%; /* Ajuste la taille de l'image */
    background-image: url('Cersei_Lannister.webp'); /* Chemin vers votre image */
}

#bloc3 {
    background-size: 170%; /* Ajuste la taille de l'image */
    background-image: url('Tyrion_Lannister.webp'); /* Chemin vers votre image */
}

#bloc4 {
    background-size: 170%; /* Ajuste la taille de l'image */
    background-image: url('Daenerys_Season_8.webp'); /* Chemin vers votre image */
}

#bloc5 {
    background-size: 170%; /* Ajuste la taille de l'image */
    background-image: url('s-l1200.jpg'); /* Chemin vers votre image */
}

.bloc::before,
.bloc::after {
    content: '';
    position: absolute;
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0), black); /* Dégradé noir vers transparent */
    top: 0;
    z-index: 1; /* Placez les pseudo-éléments au-dessus de l'image */
}

.bloc::before {
    left: 0;
}

.bloc::after {
    right: 0;
}

.bloc:last-child {
    margin-right: 0;
}

.haut {
    margin-top: -50px;
}

.bas {
    margin-top: 50px;
}

.petit-bloc {
    position: absolute;
    width: 205px; /* Ajustez la taille du petit bloc selon vos préférences */
    height: 100px;
    border-radius: 20px; /* Bordures arrondies */
    top: 450px; /* Position au-dessus des blocs bas */
    font-size: 18px; /* Taille du texte */
    font-weight: bold; /* Poids de la police */
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.bas .petit-bloc {
    top: calc(100% - 550px); /* Position en dessous des blocs haut */
}


.bloc-gauche {
    margin-left: 50px;
    width: 800px; /* Ajustez la largeur du bloc gauche selon vos préférences */
    height: 600px; /* Ajustez la hauteur du bloc gauche selon vos préférences */
    background-color: #333;
    border-radius: 20px;
    font-size: 18px; /* Taille du texte */
    font-weight: bold; /* Poids de la police */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.colonnes {
    margin-left: 50px;
    margin-right: 50px;
    width: 500px; /* Ajustez la largeur du bloc gauche selon vos préférences */
    height: 600px; /* Ajustez la hauteur du bloc gauche selon vos préférences */
    background-color: #000000;
    border-radius: 20px;
}

.bloc-haut{
    width: 500px; /* Ajustez la largeur du bloc gauche selon vos préférences */
    height: 350px; /* Ajustez la hauteur du bloc gauche selon vos préférences */
    background-color: #333;
    border-radius: 20px;
    font-size: 18px; /* Taille du texte */
    font-weight: bold; /* Poids de la police */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bloc-bas {
    margin-top: 50px;
    width: 500px; /* Ajustez la largeur du bloc gauche selon vos préférences */
    height: 200px; /* Ajustez la hauteur du bloc gauche selon vos préférences */
    background-color: #333;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.bloc-bas img {
    width: 100%; /* Pour que l'image remplisse le bloc horizontalement */
    height: 100%; /* Pour que l'image remplisse le bloc verticalement */
    object-fit: cover; /* Pour ajuster la taille de l'image tout en conservant les proportions et en remplissant le conteneur */
    border-radius: inherit; /* Héritage des bordures arrondies du bloc */
}